$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 24px;
$db-header-height: 64px;
$border-color: #07575b;
$primary-color: #003b46;
$max-dark-color:#003b46;
$min-dark-color: #07575b;
$max-light-color: #c4dfe6;
$min-light-color: #66a5ad;
